[submodule "www/addons/checheza.main.treehouse"]
	path = www/addons/checheza.main.treehouse
	url = https://github.com/checheza/checheza.main.treehouse
[submodule "www/addons/checheza.widget.lettertracing"]
	path = www/addons/checheza.widget.lettertracing
	url = https://github.com/checheza/checheza.widget.lettertracing
[submodule "www/addons/checheza.widget.numberline"]
	path = www/addons/checheza.widget.numberline
	url = https://github.com/checheza/checheza.widget.numberline
[submodule "www/addons/checheza.widget.bookshelf"]
	path = www/addons/checheza.widget.bookshelf
	url = https://github.com/checheza/checheza.widget.bookshelf
[submodule "www/addons/checheza.widget.memory"]
	path = www/addons/checheza.widget.memory
	url = https://github.com/checheza/checheza.widget.memory
[submodule "www/addons/checheza.widget.blockmatch"]
	path = www/addons/checheza.widget.blockmatch
	url = git@github.com:checheza/checheza.widget.blockmatch.git
