[submodule "www/addons/learnwithlara.main.treehouse"]
	path = www/addons/learnwithlara.main.treehouse
	url = git@github.com:laralearning/learnwithlara.main.treehouse.git
[submodule "www/addons/learnwithlara.widget.bookshelf"]
	path = www/addons/learnwithlara.widget.bookshelf
	url = git@github.com:laralearning/learnwithlara.widget.bookshelf.git
[submodule "www/addons/learnwithlara.widget.memory"]
	path = www/addons/learnwithlara.widget.memory
	url = git@github.com:laralearning/learnwithlara.widget.memory.git
[submodule "www/addons/learnwithlara.widget.numberline"]
	path = www/addons/learnwithlara.widget.numberline
	url = git@github.com:laralearning/learnwithlara.widget.numberline.git
