.widgetBackground {
  background-image:url("../imgs/background.png");
  background-size:100% 100%;
  background-repeat:none;
  width:100vw;
  height:100vh;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 5%;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 5%;
	height: 5vh;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.front.img {
  width:inherit;
  height:inherit;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.front.img {
  width:inherit;
  height:inherit;
}
