body { margin: 0px; padding: 0px; background-color:#5A50DC; overflow:hidden;}

img { outline: none; }
.logo {
  width: 20vw;
  height: 20vh;
  margin-left:40vw;
  margin-top:30vh;
}
.status{
  width:100%;
  display:block;
  height:20vh;
  color:#ccc;
  text-align:center;
  font-family: FontAwesome;
  font-size:1.3vh;
}

.hidden {
  visibility:hidden;
}