<html>
  <head>
    <link href="widgets/bookshelf/css/bookshelf.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <div class="widgetBackground">
        <div style="position:absolute; top:45vh; width:100vw; height:60vh;">
          <div id="swipe">
            <div class="swipe-wrap">
              <div>
                <div class="book_preview" id="mlinzi_na_chekechea_yake_ya_kipekee">
                  <img src="widgets/bookshelf/books/swahili/mlinzi_na_chekechea_yake_ya_kipekee/page1.png" class="cover_thumb">
                </div>
                <div class="book_preview" id="naweza_fanya_hivi">
                  <img src="widgets/bookshelf/books/swahili/naweza_fanya_hivi/page1.png" class="cover_thumb">
                </div>
                <div class="book_preview" id="ninapenda_kusoma">
                  <img src="widgets/bookshelf/books/swahili/ninapenda_kusoma/page1.png" class="cover_thumb">
                </div>
              </div>

              <div>
                <div class="book_preview" id="mimi_na_familia_yangu">
                  <img src="widgets/bookshelf/books/swahili/mimi_na_familia_yangu/page1.png" class="cover_thumb">
                </div>
                <div class="book_preview" id="hadithi_ya_wa_nagari_maathai">
                  <img src="widgets/bookshelf/books/swahili/hadithi_ya_wa_nagari_maathai/page1.png" class="cover_thumb">
                </div>
                <div class="book_preview" id="mtoto_wa_tembo_mdadisi">
                  <img src="widgets/bookshelf/books/swahili/mtoto_wa_tembo_mdadisi/page1.png" class="cover_thumb">
                </div>
              </div>

              <div>
                <div class="book_preview" id="maharagwe_yanayomea">
                  <img src="widgets/bookshelf/books/swahili/maharagwe_yanayomea/page1.png" class="cover_thumb">
                </div>
                <div class="book_preview" id="wanyama_wa_kufugwa">
                  <img src="widgets/bookshelf/books/swahili/wanyama_wa_kufugwa/page1.png" class="cover_thumb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
