.widgetBackground {
  background-image:url("../imgs/background.png");
  background-size:100% 100%;
  background-repeat:none;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

#bookshelf {
    width: 8%;
    height: 23vh;
    background-image: url(../imgs/bookshelf.png);
    background-size: 100% 100%;
    position: absolute;
    top: 106vh;
    left: 134%;
}

#memory {
    background-image: url(../imgs/blocks.png);
    width: 11%;
    height: 14vh;
    background-size: 100% 100%;
    position: absolute;
    top: 138vh;
    left: 78%;
}