<html>
  <head>
    <link href="widgets/memory/css/memory.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <div class="widgetBackground">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        	<div class="flipper">
        		<div class="front">
              <img src="widgets/memory/imgs/cardback.png" />
        		</div>
        		<div class="back">
        			<img src="widgets/memory/imgs/cards/ape.png"/>
        		</div>
        	</div>
        </div>
      </div>
  </body>
</html>
